body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(86, 136, 151);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:100vh;
}

/* Card Design */
.card{
    background:#fff;
    width:320px;
    padding:25px;
    border-radius:10px;
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
    margin:20px 0;
    border: 1px solid black;
}

/* Header */
.card-header{
    background:#3a88a0;
    color:#fff;
    padding:15px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    border-radius:8px 8px 0 0;
    margin:-25px -25px 20px -25px;
}

/* Input Group with Icon */
.input-group{
    display:flex;
    margin-bottom:15px;
    text-align: center;
}

.input-group i{
    background:#ccc;
    color:white;
    padding:12px;
    border-radius:5px 0 0 5px;
}

.input-group input{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-left:none;
    border-radius:0 5px 5px 0;
    outline:none;
}

/* Normal Inputs */
input[type="text"],
input[type="email"],
input[type="password"]{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
    outline:none;
}

/* Button */
.btn{
    width:100%;
    padding:12px;
    background:#3a88a0;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

.btn:hover{
    background:#3a88a0;
}

/* Text */
p{
    text-align:center;
    font-size:14px;
}

a{
    color:#0ab4e7;
    text-decoration:none;
    font-weight:bold;
}

a:hover{
    text-decoration:underline;
}

h2{
    margin-bottom:15px;
}